h1 {

    text-align: center;
    background-color: aliceblue;
}

body {
    background-color: aliceblue;
}

p {
    text-align: center;

}

h2 {
    text-align: center;
}

.cube {
    text-align: center;
}

.character {
    text-align: center;
}